@* Generator: Template GeneratePrettyNames: true *@

@using CssDupFinder.Models;
@using CssDupFinder.Templates;
@using System.IO;

@inherits TemplateBaseWriter<DashboardReportModel>

@functions {
    public DashboardReportTemplate(TextWriter writer, DashboardReportModel model): base(writer, model) {}
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Duplicate Finder</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/diff.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="mainContent">
        <div id="resume">
            <h1>Resumo </h1>       
            <div>@("Total de seletores: ") @Model.TotalSelectors</div>
            <div>@("Total de seletores duplicados: ") @Model.TotalDuplicated</div>
            <div>@("Duplicados no arquivo: ") @(Model.DuplicatePercentage)%</div>
        </div>
        <div>
            <h1>Files</h1>
            <div class="pages">
                @foreach (var link in Model.Links)
                {
                    <a href="@link">@Path.GetFileNameWithoutExtension(link)</a>
                }
            </div>
        </div>
    </div>
</body>
</html>